services:
  postgres-users-db:
    image: postgres:15
    container_name: users-db
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: dungeon_users
    volumes:
      - users_data:/var/lib/postgresql/data 
    ports:
      - "5432:5432"
  redis-users-cache:
    image: redis:8.6
    container_name: users-cache
    ports:
      - "6379:6379"
  nginx-web-server:
    image: nginx:1.29
    container_name: dunginx
    ports:
      - "80:80"
    volumes:
      - ./services/nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./frontend:/usr/share/nginx/html:ro
    depends_on:
      - backend-api-gateway
  backend-api-gateway:
    build: 
      context: .
      dockerfile: ./api_gateway/Dockerfile
    container_name: api-master
    depends_on:
      - backend-auth-service
  backend-auth-service:
    build: 
      context: .
      dockerfile: ./services/auth_service/Dockerfile
    container_name: auth-service
    depends_on:
      - postgres-users-db
      - redis-users-cache

volumes:
  users_data: